
@{
    ViewBag.Title = "Index";
}

<h2>Ingreso al sistema</h2>

<form action="/Login/Index" method="post">
    <div>
        <label for="User">Usuario</label>
        <input type="text" required name="User" value="" placeholder="Usuario" />
    </div>
    <div>
        <label for="Pass">Password</label>
        <input type="password" required name="Pass" value="" placeholder="Password" />
    </div>

    <input type="submit" name="" value="Ingresar" />
</form>

@ViewBag.Msj